:host {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

app-sidebar-menu {
  width: 250px;
  height: 100%;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}
